:root {
    --rolling-start: matrix(1, 0, 0.1, -0.75, 0, 0);
    --rolling-middle: matrix(1, 0, 0, -1, 0, 0);
    --rolling-finish: matrix(1, 0, -0.1, -0.75, -0, 0);
    --rising-from: scale(1, -1);
    --rising-to: scale(1, 1);
}

body {
    font-family: 'Open Sans', sans-serif;
}

.info-text {
    padding: 40px 10px;
    font-size: 3em;
    font-weight: 200;
}

span.font-italianno {
    font-family: 'Italianno', cursive;
    font-size: 2em;
}

span.font-cinzel {
    font-family: 'Cinzel', serif;
    font-size: 1.1em;
}

span.nothingarian .mirror {
    display: inline-block;
    -ms-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
    padding-bottom: 0.7em;
    animation-name: rolling;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

span.nothingarian .mirror:hover {
    animation-name: rising;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}


@media (max-width: 550px) {

    .info-text {
        font-size: 2em;
    }

}

@media (max-width: 350px) {

    .info-text {
        font-size: 1.5em;
    }

}

@keyframes rolling {
    0% {
        -ms-transform: var(--rolling-start);
        -webkit-transform: var(--rolling-start);
        transform: var(--rolling-start);
    }
    25% {
        -ms-transform: var(--rolling-middle);
        -webkit-transform: var(--rolling-middle);
        transform: var(--rolling-middle);
    }
    50% {
        -ms-transform: var(--rolling-finish);
        -webkit-transform: var(--rolling-finish);
        transform: var(--rolling-finish);
    }
    75% {
        -ms-transform: var(--rolling-middle);
        -webkit-transform: var(--rolling-middle);
        transform: var(--rolling-middle);
    }
    100% {
        -ms-transform: var(--rolling-start);
        -webkit-transform: var(--rolling-start);
        transform: var(--rolling-start);
    }
}

@keyframes rising {
    from {
        -ms-transform: var(--rising-from);
        -webkit-transform: var(--rising-from);
        transform: var(--rising-from);
    }
    to {
        -ms-transform: var(--rising-to);
        -webkit-transform: var(--rising-to);
        transform: var(--rising-to);
    }
}

