body {
    font-family: 'Open Sans', sans-serif;
}

.info-text {
    padding: 40px 10px;
    font-size: 3em;
    font-weight: 200;
}

span.font-italianno {
    font-family: 'Italianno', cursive;
    font-size: 2em;
}

span.font-cinzel {
    font-family: 'Cinzel', serif;
    font-size: 1.1em;
}

span.nothingarian .mirror {
    display: inline-block;
    -ms-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
    padding-bottom: 0.7em;
}

span.nothingarian .mirror:hover {
    animation-name: rising;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@media (max-width: 550px) {

    .info-text {
        font-size: 2em;
    }

}

@media (max-width: 350px) {

    .info-text {
        font-size: 1.5em;
    }

}

@keyframes rising {
    from {
        -ms-transform: scale(1, -1);
        -webkit-transform: scale(1, -1);
        transform: scale(1, -1);
    }
    to {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

